@import "normalize.css";
@import "../base/_variables";
@import "../base/_mixins";
@import "../base/_global";

.primary-nav {
  background-color: rgba($mainBlue, .4);
  width: 100%;
  color: #FFF;
  padding: .8rem 1.5rem;
  display: inline-block;
  cursor: pointer;

  &__text {
    text-align: center;
    font-size: 1.1rem;
    font-weight: 300;
    margin: 0;
  }
}
